/*
ESTO NO SE PUEDE, no se puede separar con espacio y al mismo tiempo comas

header h2, H3{
	color: blue;
}
*/

/*
EJEMPLO DE JERARQUÍAS

body{
	background: khaki;
	margin-left: 30px;
}

.azul{
	color: blue;
}

.verde{
	color: green;
}

#rojo{
	color: darkred;
}

p[class]{
	text-decoration: underline;
}

.letra-grande{
	font-size: 30px;
}

p[class~="letra-grande"]{
	text-decoration: none;
}

a[class|="espana"]{
	font-style: italic;
}

a[class|="mexico"]{
	text-decoration: none;
}
*/

body{
	background: khaki;
	font-size: 12px;
}

.em{
	font-size: 2em;
}

.ex{
	font-size: 3ex;
}


div{
	font-size: 2em;
}
div p{
	font-size: 0.9em;
}
.rem{
	font-size: 0.9rem;
}