header{
		width: 100%;
		height: 300px;
		background: red;
	}

h2, h3{
	color: orange;
}

header h2, h3{
	color: blue;
}


/*
ESTO NO SE PUEDE, PO

header h2, H3{
	color: blue;
}
*/